{% extends 'base.html' %} {% block content %}
<h1>Create Task</h1>
{% if messages %} {% for message in messages %}
<div class="alert alert-danger text-center" role="alert">
  <p>{{ message }}</p>
</div>
{% endfor %} {% endif %}
<div class="row">
  <div class="col-md-8">
    <form action="{% url 'create_task' %}" method="POST">
      {% csrf_token %} {% for campo in form %}
      <div class="mb-3">
      <label for="" class="form-label">{{campo.label}}</label>
      {% if campo.field.widget.input_type %}
      <input
      type="{{ campo.field.widget.input_type }}"
      class="{% if "checkbox" in campo.field.widget.input_type %}form-check-input{% else %}form-control{% endif %}"
      name="{{ campo.name }}"
      id=""
      aria-describedby="helpId"
      placeholder="{{ campo.label }}"
      value="{{ campo.value | default:'' }}"
    />
    {% else %}
    <textarea class="form-control" name="{{ campo.name }}" id="" cols="30" rows="10">{{ campo.value | default:'' }}</textarea>
    {% endif %}
    {% endfor %}
    <div class="mb-3">
      <button class="btn btn-success" type="submit">Save</button>
    </div>
    </form>
  </div>
</div>
{% endblock content %}
