{% extends 'base.html' %} {% block content %}
<h1>Task List</h1>
<div class="row">
  {% if user.is_authenticated %} {% for task in tasks %}
  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-header">
        Created at {{task.created_at| date:"d-m-Y" }}
      </div>
      <div class="card-body">
        <h4 class="card-title">
          {% if task.importtant %}
          <h4 class="text-info"><strong>{{ task.title }}</strong></h4>
          {% else %}
          {{ task.title }}
          {% endif %}
        </h4>
        <p class="card-text">{{ task.description }}</p>
      </div>
      <div class="card-footer text-muted">
        <p>By {{ task.user.username }}</p>
        <a href="{% url 'task_detail' task.id  %}">Ver Tarea</a>
      </div>
    </div>
  </div>
  {% endfor %} {% else %}
  <div class="col-md-6">
    <h3>Debes Iniciar Session para ver tus tareas</h3>
    <a class="btn btn-primary" href="{% url 'login' %}">Iniciar Session</a>
  </div>
  {% endif %}
</div>
{% endblock content %}
